/* 全局变量 */

// 颜色
$bg-color-light: #ecf5ff;
$bg-color-gray: #f5f7fa;
$bg-color-a: #F5F5F5;
$bg-color-g: #f6f8fa;
$font-color-deactive: #909399;
$font-color-default: #66757f;
$font-color-hover: #009688;
$border-color-default: #dcdfe6;

// 字体
$font-size-extra-large: 20px;         // 主标题
$font-size-large: 18px;               // 标题
$font-size-medium: 16px;              // 小标题
$font-size-small: 14px;               // 正文
$font-size-extra-small: 13px;         // 正文(小)
$font-size-extra-extra-small: 12px;   // 辅助文字


// 主题颜色
$theme-color-green: #99cc33;
